.login__bg {
    background-image: url(https://i.pinimg.com/564x/0f/ee/0b/0fee0bbb318663f05b6f2698fabc0b7a.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}